[defaults]
inventory = inventory/gcp.yml
remote_user = awan
private_key_file = ~/.ssh/id_ed25519
host_key_checking = False
retry_files_enabled = False
roles_path = roles
stdout_callback = yaml
callback_whitelist = timer
forks = 5
timeout = 30

[privilege_escalation]
become = True
become_method = privilege_escalation_method
